<main>
    <div class="MainDiv">
        <div class="SubDiv1">
            <div><input type="text" placeholder="Title"></div>
            <div><textarea name="" id="" placeholder="Description"></textarea></div>
            <Select>
                <option value="Low">Low</option>
                <option value="Moderate">Moderate</option>
                <option value="High">High</option>
            </Select>
        </div>
        <div class="SubDiv2">
            
        </div>
    </div>
</main>
